@import 'colors.scss';
@import 'fonts.scss';

body {
	margin: 0;
	font-family: 'Inter', 'Public Sans', -apple-system, BlinkMacSystemFont,
		'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	color: $color2;
	background-color: $color1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a {
	color: $color1;
	text-decoration: underline;
}

.app {
	padding: 2.5rem 0;
	box-sizing: border-box;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
